.container
{
  margin-top: 12%;
}

a, a:hover
{
  text-decoration: none;
}

.list-group
{
  padding-top: 50%;
  width: 50%;
}

.logo-img
{
  height: 80%;
}

.flag
{
  width: 180px;
}

.list-group-item
{
  border: none;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
{
  .container
  {
    margin-top: 70%;
  }
}

@media only screen
and (min-width : 321px)
{
  .container
  {
    margin-top: 70%;
  }
}

@media only screen
and (max-width : 320px)
{
  .container
  {
    margin-top: 70%;
  }
}

@media only screen
and (min-width : 1280px)
{
  .container
  {
    margin-top: 12%;
  }
}
